<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantilla/template :: head">
    </head>
    <body>
        
        <header th:replace="plantilla/template :: header"></header>

        <div class="container" >
            <div class="table-responsive">
                <table class="table table-striped header-fixed ">
                    <thead>
                        <tr> 
                            <th class="col-xs-12"><a title="volver" th:href="@{/}" style='font-size: 30px; margin-left: 10px'><i class="fa-solid fa-circle-chevron-left green"></i></a></th>
                            <th class="col-xs-12">LISTADO DE PROYECTOS</th>
                            <th style='width: 20%; text-align: right'>
                                <a sec:authorize="hasRole('ADMIN')" title="Nuevo proyecto" th:href="@{/agregarProyecto}" style="margin-right: 10px"><i style="font-size: 28px" class="fa-solid fa-file-circle-plus green" ></i></a>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col" style="width: 9% !important">Código</th>
                            <th scope="col" style="width: 11% !important">Nombre</th>
                            <th scope="col" style="width: 11% !important">Producto</th>
                            <th scope="col" style="width: 9% !important">En uso</th>
                            <th scope="col" style="width: 11% !important" >Fecha inicio</th>
                            <th scope="col" style="width: 12% !important">Fecha fin</th>
                            <th scope="col" style="width: 9% !important">Max de Horas</th>
                            <th scope="col" style="width: 11% !important">Presupuesto Anual</th>
                            <th scope="col" style="width: 5% !important"></th>
                            <th scope="col" style="width: 5% !important"></th>
                            <th scope="col" style="width: 5% !important"></th>
                        </tr>
                    </thead>

                    <tbody >
                        <tr th:each="proyecto : ${proyecto}">
                            <td scope="col" style="width: 9% !important" th:text="${proyecto.COD_PROYECTO}">Mostrar Codigo personal</td>
                            <td scope="col" style="width: 11% !important" th:text="${proyecto.NOM_PROYECTO}">Mostrar Nombre</td>                           
                            <td th:if="${proyecto.ID_PRODUCTO eq 1}" scope="col" style="width: 11% !important">Nóminas</td>
                            <td th:if="${proyecto.ID_PRODUCTO eq 2}" scope="col" style="width: 11% !important">Contabilidad</td>
                            <td th:if="${proyecto.ID_PRODUCTO eq 3}" scope="col" style="width: 11% !important">Compras</td>
                            <td th:if="${proyecto.EN_USO eq '0'}" scope="col" style="width: 9% !important"><i class="fa-solid fa-circle red"></i></td>
                            <td th:if="${proyecto.EN_USO eq '1'}" scope="col" style="width: 9% !important"><i class="fa-solid fa-circle green"></i></td>
                            <td scope="col" style="width: 11% !important" th:text="${proyecto.FECHA_INI}">Fecha inicio</td>
                            <td scope="col" style="width: 12% !important" th:text="${proyecto.FECHA_FIN}">Fecha fin</td>                   
                            <td scope="col" style="width: 9% !important" th:text="${proyecto.NUM_MAX_HORAS}">Max de Horas</td>                   
                            <td scope="col" style="width: 11% !important" th:text="${proyecto.PRESUPUESTO_ANUAL}">Presupuesto Anual</td>                  

                            <td scope="col" style="width: 5% !important"> <a sec:authorize="hasRole('ADMIN')" title="Editar proyecto"  th:href="@{/editarProyecto/} + ${proyecto.ID_PROYECTO}"><i style="font-size: 18px" class="fa-solid fa-file-pen green"></i></a></td>
                            <td scope="col" style="width: 5% !important"> <a title="Ver Proyecto"  th:href="@{/verProyecto/} + ${proyecto.ID_PROYECTO}" /><i style="font-size: 18px" class="fa-solid fa-eye green"></i></a></td>
                            <td scope="col" style="width: 5% !important"> <a title="Eliminar proyecto"  onclick="return confirm('¿Estas seguro de eliminar?')" th:href="@{/eliminarProyecto/} + ${proyecto.ID_PROYECTO}"/><i sec:authorize="hasRole('ADMIN')" style="font-size: 18px" class="fa-solid fa-trash-can red"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <footer th:replace="plantilla/template :: footer"></footer>

    </body>
</html>

